/* common ================================== */
.btn {
  background-color: #ed4933;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ed4933;
  padding: 0.8em 2em;
  letter-spacing: 2.64px;
  font-weight: 600;
  border-radius: 3px;
}
.btn:active {
  outline: 2px solid white;
  background-color: #f15540;
}

body {
  /* kod devinam */
  margin-bottom: 600px;
}

/* HEADER ================================== */

header {
  z-index: 10;
  /* background-color: gray; */
  position: fixed;
  top: 10px;
  left: 10px;
}
.main-nav {
  display: none;
}

.burger-menu-btn {
  border: 1px solid rgb(115 115 115 / 63%);
  background-color: rgb(115 115 115 / 63%);
  font-size: 25px;
  color: white;
  padding: 0.3em 0.6em;
}

/* HERO ================================== */
.hero {
  background-color: gray;
  background: url('/img/banner.jpg') no-repeat center;
  background-size: cover;
  /* paralax scroll efektas */
  background-attachment: fixed;
  height: 420px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  position: relative;
}
.hero::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* right: 0;
  bottom: 0; */
  inset: 0;
}
.hero > * {
  z-index: 1;
  /* position: relative; */
}
h1 {
  font-size: 18px;
  padding: 7px 18px;
  text-transform: uppercase;
  border-top: 3px solid white;
  border-bottom: 2px solid white;
  align-self: center;
}
.hero-text {
  font-size: 15px;
  letter-spacing: 3.3px;
}
.hero-text a {
  text-decoration: underline;
}
